<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylibrary">

    <application>
        <activity android:name=".fragment.Login.LoginActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".fragment.per_center.PerCenterActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".fragment.per_center.TabLayoutForOrdersActivity"></activity>
        <activity android:name=".fragment.Index.LocatAreaActivity"></activity>
    </application>

</manifest>